* {
    margin: 0;
    padding: 0;
    /* 内减模式 */
    /* 文字本身也有默认行高=上下边距+字大小,与自减模式无关 */
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 清除浮动 */
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}

/* 以上为几乎所有网页共同首先设置的清除默认样式,可以cv */



body {
    background-color: #f3f5f7;
}

/* 版心 */
.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* 头部 */
.header {
    height: 42px;
    /* background-color: pink; */
    margin: 30px auto;
}

h1 {
    float: left;
}

/* 导航 */
.nav {
    float: left;
    margin-left: 70px;
    height: 42px;
    /* background-color: green; */
}

.nav li {
    float: left;
    margin-right: 26px;
}

.nav li a {
    display: block;
    padding: 0 9px;
    height: 42px;
    line-height: 42px;

    font-size: 18px;
    color: #050505;
}

.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.search {
    float: left;
    margin-left: 59px;
    width: 412px;
    height: 42px;
    border: 1px solid #00a4ff;
}

.search input {
    float: left;
    padding-left: 20px;
    /* 左右加一起的尺寸要小于等于父级的410 */
    width: 360px;
    /* 高设置42会背景会压住最底边的线 */
    height: 40px;
    border: 0;
}

/* 控制palceholder的样式 */
.search input::placeholder {
    font-size: 14px;
    color: #bfbfbf;
}

.search button {
    float: left;
    width: 50px;
    height: 40px;
    background-image: url(../images/btn.png);
    border: 0;
}

.user {
    float: right;
    height: 42px;
    line-height: 42px;
    margin-right: 35px;
    
}

.user img {
    /* 调节图片对齐方式 */
    vertical-align: middle;
}

/* 轮播图 */
.banner {
    height: 420px;
    background-color: #1c036c;
}

.banner .wrapper {
    height: 420px;
    background-image: url(../images/banner2.png);
}

.banner .left {
    float: left;
    padding: 0 20px;
    width: 190px;
    height: 420px;
    background-color: rgba(0,0,0,0.3);
    /* 行高属于控制文字的属性,能继承 */
    line-height: 44px;
}

.banner .left span {
    float: right;
}

.banner .left a {
    font-size: 14px;
    color: #fff;
}

.banner .left a:hover {
    color: #00b4ff;
}


.banner .right {
    float: right;
    margin-top: 50px;
    width: 228px;
    height: 300px;
    background-color: #fff;
}

.banner .right h2{
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: white;
}

.banner .right .content {
    margin: 0 18px;
}

.banner .right .content dl {
    padding: 15px 0;
    border-bottom: 2px solid #e5e5e5;
}

.banner .right .content dt {
    font-size: 14px;
    color: #4e4e4e;
}

.banner .right .content dd {
    font-size: 12px;
    color: #4e4e4e;
}

.banner .right .more {
    display: block;
    /* margin: 4px 14px 0; */
    margin: 4px auto 0;
    width: 200px;
    height: 40px;
    border: 1px solid #00a4ff;

    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #00a4ff;
    font-weight: 700;
}

.goods {
    margin-top: 8px;
    padding-left: 34px;
    padding-right: 26px;
    height: 60px;
    background-color: #fff;
    /* 阴影装饰 */
    box-shadow: 0px 2px 3px 0px rgba(118, 118, 118, 0.2);
    line-height: 60px;
}

.goods h3 {
    float: left;
    margin-right: 31px;
    font-size: 16px;
    color: #00a4ff;

}

.goods ul {
    float: left;
}

.goods ul li {
    float: left;
}

.goods ul li a {
    /* 在a上写border，不是li中，因为a的尺寸高度与字是一样高的 */
    border-left: 1px solid #bfbfbf;
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
}

.goods .interest {
    float: right;
    font-size: 14px;
    color: #00a4ff;
}

.reconmend {
    margin-top: 20px;
}

.reconmend .title {
    height: 40px;
    background-color: #fff;
}

.reconmend .title h3 {
    float: left;
    font-size: 20px;
    color: #4e4e4e;
    font-weight: 400;
}

.reconmend .title a {
    float: right;
    margin-right: 30px;
    font-size: 12px;
    color: #a5a5a5;
}

.reconmend .content li {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 228px;
    height: 270px;
    /* background-color: green; */
    /* 阴影装饰效果 */
    box-shadow: 0px 2px 3px 0px rgba(118, 118, 118, 0.2);
}

.reconmend .content li:nth-child(5n) {
    margin-right: 0;
}

.reconmend .content li h4 {
    padding: 20px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}
.reconmend .content li p {
    padding: 0 20px;
    font-size: 12px;
    color: #999;
}
.reconmend .content li p span {
    color: #ff7c2d;
}


/* 版权footer */
.footer {
    margin-top: 40px;
    padding-top: 30px;
    height: 417px;
    background-color: #fff;
}

.footer .left {
    float: left;
}

.footer .right {
    float: right;
}

.footer .left p {
    margin: 20px 0 10px;
    font-size: 12px;
    color: #4e4e4e;
}   

.footer .left a {
    display: block;
    width: 120px;
    height: 36px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    color: #00a4ff;
}

.footer .right dl {
    float: left;
    margin-left: 120px;
}

.footer .right dt {
    margin-bottom: 10px;
    font-size: 16px;
    color:#4e4e4e
}

.footer .right dd a {
    
    font-size: 12px;
    color: #999;
}

/* 课程：定位小图 */
.reconmend .content li {
    position: relative;
}
.reconmend .content li .hot {
    position: absolute;
    right: -5px;
    top: 5px;
}